# Auth
BETTER_AUTH_SECRET=Your_Secret_Here
BETTER_AUTH_URL=http://localhost:3000

# Database
DATABASE_URL=Your_Database_URL_Here

# Google OAuth
GOOGLE_CLIENT_ID=Your_Google_Client_ID_Here
GOOGLE_CLIENT_SECRET=Your_Google_Client_Secret_Here

# Resend
RESEND_API_KEY="Your_Resend_API_Key_Here"
EMAIL_SENDER_NAME="Your Sender Name Here"
EMAIL_SENDER_ADDRESS="Your Sender Email Address Here"

# Agora
NEXT_PUBLIC_AGORA_APP_ID="Your Agora App ID Here"
AGORA_APP_CERTIFICATE="Your Agora App Certificate Here"